html, body, #app {
  height: 100%;
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* NAV BAR ----------------------------------------------- */
.nav-container {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  height: 100%;
  min-width: 16.66%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 1.5vw);
  background-color: #023436;
  color: white;
  transition: 0.7s;
}
.nav-link:hover {
  cursor: pointer;
  background-color: #037971;
  transition: 0.7s;
}

/* NAV TABLET */
@media screen and (max-width: 750px) {
  .nav-link {
    font-size: calc(8px + 1.5vw);
  }
}

/* NAV MOBILE */
@media screen and (max-width: 420px) {
  .nav-container {
    display: block;
    height: 25%;
  }
  .nav-link {
    width: 100%;
    height: 16.67%;
    font-size: 4vw;
  }
}

/* NAV LANDSCAPE */
@media screen and (max-height: 500px) {
  .nav-link {
    font-size: calc(8px + 1.5vw);
  }
}

/* HOME PAGE ----------------------------------------------- */ 

.home-page {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(130deg, #BC412B, #BC412B, #DC602E, #BC412B, #BC412B);
}

.logo {
  text-align: center;
  display: block;
}

.logo img {
  width: calc(5px + 10vw);
}

.title .year {
  display: flex;
  justify-content: center;
}
.title span {
  text-shadow: -2px 2px 0 rgb(163, 57, 38),
                2px 2px 0 rgb(163, 57, 38),
                2px -2px 0 rgb(163, 57, 38),
                -2px -2px 0 rgb(163, 57, 38);
}
.title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 7vw;
  font-weight: 1000;
}
.logo span:hover {
  color: #023436;
}
.year {
  font-size: 3vw;
  color: white;
}
.powered-by {
  font-size: calc(10px + 1vw);
  font-weight: bolder;
  text-align: right;
  bottom: 30px;
  right: 30px;
  position: absolute;
  color: white;
}

/* HOME TABLET */
@media screen and (max-width: 1024px) {
  .home-page {height: 85%;}
  .logo img {
    width: calc(40px + 20vw);
  }
  .title {font-size: 11vw;}
  .year {font-size: 4vw;}
  .powered-by {
    font-size: 3.5vw;
    bottom: 30px;
  }
}
/* HOME MOBILE */
@media screen and (max-width: 420px) {
  .home-page {height: 75%;}
  .logo img {
    width: calc(40px + 10vw);
    margin-bottom: 5vw;
  }
  .title {font-size: 14vw;}
  .title span {
    text-shadow: -1px 1px 0 rgb(163, 57, 38),
                1px 1px 0 rgb(163, 57, 38),
                1px -1px 0 rgb(163, 57, 38),
                -1px -1px 0 rgb(163, 57, 38);
  }
  .year {font-size: 6vw;}
  .powered-by {
    font-size: 3.5vw;
    bottom: 30px;
  }
}
/* LANDSCAPE */
@media screen and (max-height: 420px) {
  .home-page {height: 85%;}
  .logo img {width: calc(20px + 5vw);}
  .title {font-size: 8vw;}
  .year {font-size: 3vw;}
  .powered-by {
    font-size: 2vw;
    bottom: 10px;
    right: 10px
  }
}

/* INFO PAGE ----------------------------------------------- */ 

.info-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(39, 39, 39); */
  background-image: linear-gradient(130deg, #BC412B, #BC412B, #DC602E, #BC412B, #BC412B);
  height: 85%;
}
.info-date, .info-map {
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(15px + 5vw);
  text-align: center;
  text-shadow: -2px 2px 0 rgb(163, 57, 38),
                2px 2px 0 rgb(163, 57, 38),
                2px -2px 0 rgb(163, 57, 38),
                -2px -2px 0 rgb(163, 57, 38);
}

.map-box {
  border-radius: 20px;
  width: 80vw;
  height: 25vw;
}

.info-map {
  margin-top: 4vw;
}

.info-map a {
  color: white;
  font-size: calc(15px + 3vw);
  transition: 0.7s;
  margin-right: 1vw;
}

.info-map img {
  width: 2vw;
}

.info-map a:hover {
  color: #023436;
  cursor: pointer;
  transition: 0.7s;
}

.info-city {
  color: white;
  font-size: calc(15px + 2vw);
}

/* HOME TABLET */
@media screen and (max-width: 1024px) {
  .info-page {height: 85%;}
  .info-date {font-size: 10vw;}
  .info-map {margin-top: 8vw;}
  .info-map a {font-size: 5vw;}
  .info-map img {width: 2.5vw;}
  .info-city {font-size: 3vw;}
  .map-box {
    width: 80vw;
    height: 70vw;
  }
}
/* HOME MOBILE */
@media screen and (max-width: 420px) {
  .info-page {height: 75%;}
  .info-container {width: 100%}
  .info-date {font-size: 12vw;}
  .info-map {margin-top: 10vw;}
  .info-map a {font-size: 6vw;}
  .info-map img {width: 3.5vw;}
  .info-city {font-size: 4vw;}
  .map-box {
    width: 80vw;
    height: 80vw;
  }
  .info-date, .info-map {
    text-shadow: -1px 1px 0 rgb(163, 57, 38),
                1px 1px 0 rgb(163, 57, 38),
                1px -1px 0 rgb(163, 57, 38),
                -1px -1px 0 rgb(163, 57, 38);
  }
}
/* LANDSCAPE */
@media screen and (max-height: 420px) {
  .info-page {height: 85%;}
  .info-container {width: 100%}
  .info-date {font-size: 6vw;}
  .info-map a {font-size: 4vw;}
  .info-map img {width: 2vw;}
  .info-city {font-size: 3vw;}
}


/* GAMES PAGE ----------------------------------------------- */

.games-page {
  height: 85%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg, #BC412B, #BC412B, #DC602E, #BC412B, #BC412B);
}

.day-one, .day-two, .five-on-five, .three-on-three {
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 7vw;
  transition: 0.8s;
  text-shadow: -2px 2px 0 rgb(163, 57, 38),
                2px 2px 0 rgb(163, 57, 38),
                2px -2px 0 rgb(163, 57, 38),
                -2px -2px 0 rgb(163, 57, 38);
}
.day-one a, .day-two a {
  color: white;
}

/* CATEGORY PAGE */
.category-page {
  height: 75%;
  display: flex;
  justify-content: center;
  background-color: rgb(39, 39, 39);
}

.five-on-five, .three-on-three {
  font-size: 9vw;
}

.five-on-five:hover , .three-on-three:hover {
  font-size: 12vw;
  transition: 0.8s;
}

.day-one:hover, .day-two:hover {
  font-size: 8vw;
  transition: 0.8s;
}

.day-one:hover + .day-two {
  opacity: 0.2;
  transition: 0.8s;  
}

.day-two:hover + .day-one {
  opacity: 0.2;
  transition: 0.8s;
}

/* GAMES MOBILE */
@media screen and (max-width: 420px) {
  .games-page, .category-page {
    height: 76%;
    display: block;
    background-color: rgb(39, 39, 39);
  }
  .category-page {
    height: 71%;
  }
  .day-one, .day-two, .five-on-five, .three-on-three {
    width: 99%;
    height: 50%;
    font-size: 10vw;
    border: 1px grey solid;
    text-shadow: -1px 1px 0 rgb(163, 57, 38),
                1px 1px 0 rgb(163, 57, 38),
                1px -1px 0 rgb(163, 57, 38),
                -1px -1px 0 rgb(163, 57, 38);
  }
}

/* GROUPS PAGE ----------------------------------------------- */

.teams-page {
  height: 85%;
  /* background-color: rgb(39, 39, 39); */
  background-image: linear-gradient(45deg, #BC412B, #BC412B, #DC602E, #BC412B, #BC412B);
}

.teams-page div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33.33%;
}

.teams-category {
  /* background-color: rgb(39, 39, 39); */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.7s;
  font-size: 6vw;
  /* border-radius: 20px; */
  border: 1px solid grey;
  text-shadow: -2px 2px 0 rgb(163, 57, 38),
                2px 2px 0 rgb(163, 57, 38),
                2px -2px 0 rgb(163, 57, 38),
                -2px -2px 0 rgb(163, 57, 38);
}

.teams-category:hover {
  cursor: pointer;
  background-color: #023436;
  color: white;
  transition: 0.7s;
  font-size: 7vw;
  text-shadow: -2px 2px 0 rgb(163, 57, 38),
                2px 2px 0 rgb(163, 57, 38),
                2px -2px 0 rgb(163, 57, 38),
                -2px -2px 0 rgb(163, 57, 38);
}

a {
  text-decoration: none;
}

/* GROUPS MOBILE */
@media screen and (max-width: 420px) {
  .teams-page {height: 75%;}
  .teams-category {
    border: 1px grey solid;
    border-radius: 0px;
    text-shadow: none;
  }
}

/* TEAMS PAGE ----------------------------------------------- */

.category-pane {
  height: 10%;
  background-image: linear-gradient(180deg, #BC412B, #BC412B, #DC602E, #BC412B, #BC412B);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
}

.eighteen, .twelve, .ten, .eight, .six, .four, .women {
  height: 75%;
  color: white;
  background-color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  background-color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.divider .teams-block, .teams-block {
  height: 100%;
  width: 100%;
}
.divider .teams-block div {
  height: 25%;
}
.twelve .teams-block, .eight .teams-block, .six .teams-block {
  background-color: rgb(39, 39, 39);
}
.eight .teams-block div {
  height: 20%;
}
.six .teams-block div {
  height: 25%;
}
.ten .teams-block div {
  height: 16.66%;
}
.women .teams-block div {
  height: 25%;
}
.pool, .team, .team-divider, .standing {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pool {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #BC412B;
}
.teams-block {
  height: 100%;
  border-left: grey 1px solid;
  border-right: grey 1px solid;
  border-top: grey 1px solid;
  border-bottom: grey 1px solid;
}
.women .teams-block {
  height: 100%;
  border: none;
}
.teams-block .team {
  transition: 0.7s;
}
.teams-block .team:hover {
  cursor: pointer;
  transition: 0.7s;
}

/*
.eighteen {
  justify-content: space-between;
}
.eighteen .teams-block div {
  height: 16.66%;
}
.twelve .teams-block div, .eight .teams-block div  {
  height: 25%;
}
.six .teams-block div {
  height: 16.66%;
}
.four .teams-block div {
  height: 20%;
}
.four .teams-block div {
  width: 100%;
  margin: auto;
}
.eighteen .pool, .twelve .pool, .eight .pool {
  font-size: 4vw;
}
.eighteen .teams-block .team, .twelve .teams-block .team, .eight .teams-block .team {
  font-size: 2.5vw;
}
.six .teams-block .team, .four .teams-block .team {
  font-size: 4vw;
}
.eighteen .teams-block .team, .twelve .teams-block .team, .eight .teams-block .team, .six .teams-block .team, .four .teams-block .team {
  border-radius: 20px;
}
.teams-block .team:hover {
  cursor: pointer;
  background-color: #FF66C4;
  color: rgb(2, 196, 235);
  border-radius: 20px;
  transition: 0.7s;
}
.teams-block {
  height: 95%;
  border-left: grey 1px solid;
  border-right: grey 1px solid;
  padding: 1vw
}
.four .teams-block, .six .teams-block {
  height: 95%;
  border-left: none;
  border-right: none;
  padding: 1vw
}

*/
.teams-block .team {
  display: flex;
} 
.team .team-divider {
  height: 100%;
}

.team .standing {
  font-size: 3vw;
  color: #BC412B;
}

/* TEAMS TABLET */
@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .eighteen .teams-block .team, .twelve .teams-block .team, .ten .teams-block .team {
    font-size: 3vw;
  }
}

/* TEAMS MOBILE */
@media (max-width: 420px) {
  .category-pane {
    height: 4%;
    font-size: 4vw;
  }
  .eighteen, .twelve, .ten, .eight, .six, .four {
    height: 70.9%;
    display: block;
  }
  /* TWELVE */
  .divider {
    width: 100%;
    height: 50%;
  }
  .divider .teams-block div {
    height: 25%;
  }
  .twelve .standing {
    font-size: 5vw;
  }
  /* EIGHT */
  .eight .teams-block {
    width: 99.5%;
    height: 49.7%;
  }
  .eight .standing {
    font-size: 5vw;
  }
  /* SIX */
  .six .teams-block {
    width: 99.5%;
    height: 49.7%;
  }
  .six .standing {
    font-size: 5vw;
  }
  .ten .teams-block {
    height: 50%;
  }
  /* POOL */
  .pool {
  font-size: 5vw;
  }
  .teams-block {
    height: 100%;
    border-top: grey 1px solid;
    border-bottom: grey 1px solid;
    border-left: grey 1px solid;
    border-right: grey 1px solid;
  }

  .eighteen .teams-block .team, .twelve .teams-block .team, .six .teams-block .team {
    font-size: 4vw;
  }
  .eight .teams-block .team, .four .teams-block .team {
    font-size: 4.5vw;
  }
  .four .pool {
    text-shadow: none;
  }
  .eighteen .pool, .twelve .pool, .eight .pool, .six .pool, .four .pool {
    text-shadow: none;
  }
  .eighteen .teams-block .team, .twelve .teams-block .team, .eight .teams-block .team, .six .teams-block .team, .four .teams-block .team {
    border-radius: 0px;
    text-shadow: none;
  }
  /* .eighteen .teams-block div, .twelve .teams-block div, .eight .teams-block div, .six .teams-block div {
    height: 15%;
  }
  .four {
    width: 100%;
  }
  .four .teams-block div {
    height: 15%;
  }
  .eighteen .teams-block .team, .twelve .teams-block .team {
    font-size: 3vw;
  }
  .teams-block .team:hover {
    background-color: rgb(39, 39, 39);
  }
  .teams-block div {
    text-shadow: none;
  }
  .teams-block {
    height: 98.4%;
  } */
}

/* TEAMS TABLET LANDSCAPE */
@media (max-height: 1024px) and (orientation: landscape) {
  .eighteen .teams-block .team, .twelve .teams-block .team {
    font-size: 3vw;
  }
  .teams-block .team:hover {
    background-color: rgb(80, 80, 80);
  }
  .teams-block div {
    text-shadow: none;
  }
  .teams-block .team .team-divider {
    font-size: 3vw;
  }
}

/* OVERLAY MOBILE LANDSCAPE */
@media (max-height: 500px) and (orientation: landscape) {
  .teams-block .team:hover {
    background-color: rgb(80, 80, 80);
  }
  .teams-block div {
    text-shadow: none;
  }
}

/* OVERLAY */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  padding: 2vw 2vw 2vw 2vw;
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 45vw;
  background-color: rgb(39, 39, 39);
  border-radius: 20px;
  font-size: 5vw;
  color: white;
  transform: translate(-50%,-50%);
}

.exit {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  font-size: 2vw;
  top: 2vw;
  left: 3vw;
  color: white;
}

.team-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #DC602E;
  margin-top: 2vw;
}

.team-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  color: white;

}

.player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(80, 80, 80);
  width: 50%;
  padding:  2vw 2vw 2vw 2vw;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
}

.player-list {
  display: block;
}

.player-list div {
  display: block;
  font-size: 1.5vw;
  height: 1.8vw;
}

/* HOME TABLET */
@media (max-width: 1024px) and (max-height: 1366px) {
  #text {
    width: 80vw;
    height: 90vw;
    font-size: 4vw;
  }

  .team-name {
    margin-top: 3vw;
    font-size: 6vw;
  }

  .team-info {
    font-size: 3vw;
  }

  .player-list {
    display: block;
  }
  
  .player-list div {
    font-size: 3.7vw;
    height: 4vw;
  }

  .exit {
    font-size: 3.5vw;
  }
}

/* OVERLAY MOBILE */
@media (max-width: 420px) {
  #text {
    width: 80vw;
    height: 120vw;
    font-size: 4vw;
  }
  
  .team-name {
    margin-top: 1vw;
    font-size: 7vw;
  }
  
  .team-info {
    font-size: 4vw;
  }
  
  .player-container {
    width: 70%;
    padding: 2vw 2vw 2vw 2vw;
    top: 55%;
    left: 50%;
  }
  
  .player-list {
    display: block;
    font-size: 5vw;
  }
  
  .player-list div {
    font-size: 4vw;
    height: 5.3vw;
  }

  .exit {
    font-size: 3.5vw;
  }
}

/* OVERLAY TABLET LANDSCAPE */
@media (max-height: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  #text {
    width: 60vw;
    height: 60vw;
  }
  
  .team-name {
    margin-top: 1vw;
    font-size: 4vw;
  }
  
  .team-info {
    font-size: 2vw;
  }
  
  .player-container {
    width: 70%;
    padding: 2vw 2vw 2vw 2vw;
    top: 55%;
    left: 50%;
  }
  
  .player-list {
    display: block;
  }
  
  .player-list div {
    font-size: 2.8vw;
    height: 2.8vw;
  }

  .exit {
    font-size: 2vw;
  }
}

/* OVERLAY MOBILE LANDSCAPE */
@media (max-height: 500px) and (orientation: landscape) {
  #text {
    width: 40vw;
    height: 50vw;
  }
  
  .team-name {
    margin-top: 1vw;
    font-size: 3vw;
  }
  
  .team-info {
    font-size: 1.5vw;
  }
  
  .player-container {
    width: 70%;
    padding: 2vw 2vw 2vw 2vw;
    top: 55%;
    left: 50%;
  }
  
  .player-list {
    display: block;
  }
  
  .player-list div {
    font-size: 2vw;
    height: 2.3vw;
  }

  .exit {
    font-size: 2vw;
  }
}

/* RESULTS */

.results-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  height: 85%;
}

.results-day {
  background-color: rgb(39, 39, 39);
  min-height: 75%
}

.hourly-container {
  width: 70%;
  padding: 20px;
  color: white;
  margin: auto;
}

.results-hour {
  margin: 5px 0px 2px 5px;
  font-size: 3.5vw;
  color: #FF66C4;
}

.hourly-top, .hourly-bottom {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.court-result {
  border: rgb(2, 196, 235) 1px solid;
  width: 33%;
  padding: 2vw 1vw 2vw 1vw;
  display: flex;
}

.court-result-cat {
  width: 30%;
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.court-result-teams {
  width: 70%;
  justify-content: left;
  font-size: 1.5vw;
}
.court-result-team {
  width: 80%;
}
.court-result-score {
  width: 20%;
  text-align: right;
}

.game-result {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.underline {
  border-bottom: grey 1px solid;
}

.result-team {
  padding-right: 30px;
}

/* RESULTS TABLET */
@media screen and (max-width: 1024px) {
  .hourly-container {
    width: 90%;
  }
}

/* RESULTS MOBILE */
@media screen and (max-width: 420px) {
  .results-page {
    height: 75%;
    display: block;
  }
  .results-day {
    width: 100%;
    height: 38%;
    font-size: 14vw;
  }
  .results-day {
    /* min-height: 100%; */
    background-color: rgb(39, 39, 39);
  }
  .hourly-container {
    width: 90%;
    background-color: rgb(39, 39, 39);
    border: grey 1px solid;
  }
  .results-hour {
    margin-left: 3vw;
    font-size: 6vw;
    color: #FF66C4;
    font-weight: bold;
  }
  .hourly-top, .hourly-bottom {
    width: 100%;
    display: block;
  }
  .court-result {
    width: 90%;
    margin: auto;
  }
  .court-result-cat {
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .court-result-teams {
    justify-content: left;
    font-size: 4.5vw;
  }
}

/* RULES */
.rules-page {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 39, 39);
}

.rules-content {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  text-align: left;
  display: block;
  background-color: white;
  padding: 2vw 2vw 2vw 2vw;
  max-height: 35vw;
  overflow: scroll;
  font-size: 1vw;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.rules-content h1 {
  text-align: center;
  font-size: 3vw;
}
.rules-content h2 {
  text-align: left;
  font-size: 1.5vw;
}
.rules-content h3 {
  text-align: left;
  font-size: 1vw;
}
.rules-content li {
  list-style: none;
  text-align: left;
  font-size: 1vw;
  margin-top: 1vw;
}
.rules-content p {
  font-size: 1vw;
}

/* RULES TABLET */
@media (max-width: 1024px) and (orientation: portrait) {
  .rules-page {
    height: 85%;
  }
  .rules-content {
    min-height: 90vw;
  }
  .rules-content h1 {
    font-size: 3.5vw;
  }
  .rules-content h2 {
    font-size: 2vw;
  }
  .rules-content h3 {
    font-size: 1.8vw;
  }
  .rules-content li {
    font-size: 1.8vw;
  }
  .rules-content p {
    font-size: 1.8vw;
  }
}

/* RESULTS MOBILE */
@media (max-width: 420px) {
  .rules-page {
    height: 75%;
  }
  .rules-content {
    min-height: 110vw;
  }
  .rules-content h1 {
    font-size: 3.5vw;
  }
  .rules-content h2 {
    font-size: 2vw;
  }
  .rules-content h3 {
    font-size: 1.8vw;
  }
  .rules-content li {
    font-size: 1.8vw;
  }
  .rules-content p {
    font-size: 1.8vw;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  height: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #BC412B, #BC412B, #DC602E, #BC412B, #BC412B);
}

.container-table100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.limiter table {
  width: 100%;
  background-color: #fff;
}

.limiter th, .limiter td {
  font-weight: unset;
  text-align: center;
}

.column100 {
  width: 12vw;
  height: 2.8vw;
}

.column100.column1 {
  width: 10vw;
  padding-left: 1vw;
}

.row100.head th {
  height: 3.5vw;
}

/*==================================================================
[ Ver3 ]*/

.table100.ver3 tbody tr {
  border-bottom: 1px solid #e5e5e5;
}

.table100.ver3 th {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8vw;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #BC412B;
}

.table100.ver3 td {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7vw;
  color: #808080;
}

.table100.ver3 .row100:hover td {
  background-color: rgb(245, 207, 192);
}

.table100.ver3 .row100.column100:hover td {
  background-color: rgb(245, 207, 192);
}

.table100.ver3 .hov-column-ver3 {
  background-color: rgb(245, 207, 192);
}

.table100.ver3 .hov-column-head-ver3 {
  background-color: rgb(2, 196, 235) !important;
}

.table100.ver3 .row100 td:hover {
  background-color: #BC412B;
  color: #fff;
}

.column100 {
  width: 11vw;
}

.row100.head th {
  font-size: 1.2vw;
  height: 3vw;
}

.table100.ver3 td {
  font-size: 0.8vw;
  height: 2.8vw;
  width: 17vw;
}

.table100.ver3 .row100 .column1 {
  width: 10vw;
  padding-left: 2vw;
  font-size: 1vw;
}

.day-indicator {
  font-size: 1vw;
}

/* SCHED TABLET */
@media (max-width: 1025px) and (orientation: portrait) {
  .limiter {
    height: 85%;
  }
  
  .table100.ver3 .row100 .column1 {
    width: 8vw;
    font-size: 1.3vw;
  }

  .table100.ver3 th {
    font-size: 2vw;
    height: 6vw;
  }

  .table100.ver3 td {
    font-size: 0.9vw;
    height: 7vw;
    width: 13vw;
  }
}

/* SCHED MOBILE */
@media (max-width: 420px) and (orientation: portrait) {
  .limiter {
    height: 75%;
  }

  .table100.ver3 td {
    font-size: 1.5vw;
    height: 8vw;
    width: 17vw;
  }
  
  .table100.ver3 th {
    font-size: 2.5vw;
  }

  .column100 {
    width: 12vw;
    padding-left: 1vw;
  }
  
  .table100.ver3 .row100 .column1 {
    font-size: 1.7vw;
    width: 10vw;
  }

  .day-indicator {
    font-size: 1vw;
  }
}

/* MOBILE LANDSCAPE */
@media (max-height: 500px) and (orientation: landscape)  {
  .limiter {
    height: 85%;
  }

  .column100 {
    width: 10vw;
    padding-left: 1vw;
  }
  
  .row100.head th {
    font-size: 1.3vw;
    height: 1.6vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  
  .row100 td {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .table100.ver3 td {
    font-size: 0.9vw;
    height: 2.6vw;
    width: 20vw;
  }

  .table100.ver3 .row100 .column1 {
    width: 6vw;
    padding-left: 2vw;
  }

  .day-indicator {
    font-size: 1vw;
  }
}
