html, body, #app {
  height: 100%;
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* NAV BAR ----------------------------------------------- */
.nav-container {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  height: 100%;
  min-width: 16.66%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 1.5vw);
  background-color: rgb(2, 196, 235);
  color: rgb(39, 39, 39);
  transition: 0.7s;
}
.nav-link:hover {
  cursor: pointer;
  background-color: #FF66C4;
  transition: 0.7s;
}

/* NAV TABLET */
@media screen and (max-width: 750px) {
  .nav-link {
    font-size: calc(8px + 1.5vw);
  }
}

/* NAV MOBILE */
@media screen and (max-width: 420px) {
  .nav-container {
    display: block;
    height: 25%;
  }
  .nav-link {
    width: 100%;
    height: 16.67%;
    font-size: 4vw;
  }
}

/* NAV LANDSCAPE */
@media screen and (max-height: 500px) {
  .nav-link {
    font-size: calc(8px + 1.5vw);
  }
}

/* HOME PAGE ----------------------------------------------- */ 

.home-page {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 39, 39);
}

.logo {
  text-align: center;
  display: block;
}

.logo img {
  width: calc(5px + 10vw);
}

.title .year {
  display: flex;
  justify-content: center;
}
.title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 7vw;
  font-weight: 1000;
}
.logo span:hover {
  color: rgb(2, 196, 235);
}
.year {
  font-size: 4vw;
  color: #FF66C4;
}
.powered-by {
  font-size: calc(10px + 1vw);
  font-weight: bolder;
  text-align: right;
  bottom: 30px;
  right: 30px;
  position: absolute;
  color: rgb(255, 255, 108);
}

/* HOME TABLET */
@media screen and (max-width: 1024px) {
  .home-page {height: 85%;}
  .logo img {
    width: calc(40px + 20vw);
  }
  .title {font-size: 11vw;}
  .year {font-size: 4vw;}
  .powered-by {
    font-size: 3.5vw;
    bottom: 30px;
  }
}
/* HOME MOBILE */
@media screen and (max-width: 420px) {
  .home-page {height: 75%;}
  .logo img {
    width: calc(40px + 10vw);
    margin-bottom: 5vw;
  }
  .title {font-size: 14vw;}
  .year {font-size: 6vw;}
  .powered-by {
    font-size: 3.5vw;
    bottom: 30px;
  }
}
/* LANDSCAPE */
@media screen and (max-height: 420px) {
  .home-page {height: 85%;}
  .logo img {width: calc(20px + 5vw);}
  .title {font-size: 8vw;}
  .year {font-size: 3vw;}
  .powered-by {
    font-size: 2vw;
    bottom: 10px;
    right: 10px
  }
}

/* INFO PAGE ----------------------------------------------- */ 

.info-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  height: 85%;
}
.info-date, .info-map {
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(15px + 5vw);
  text-align: center;
}

.info-map {
  margin-top: 4vw;
}

.info-map a {
  color: #FF66C4;
  font-size: calc(15px + 3vw);
  transition: 0.7s;
  margin-right: 1vw;
}

.info-map img {
  width: 2vw;
}

.info-map a:hover {
  color: rgb(2, 196, 235);
  cursor: pointer;
  transition: 0.7s;
}

.info-city {
  color: #FF66C4;
  font-size: calc(15px + 2vw);
}

/* HOME TABLET */
@media screen and (max-width: 1024px) {
  .info-page {height: 85%;}
  .info-date {font-size: 10vw;}
  .info-map {margin-top: 8vw;}
  .info-map a {font-size: 5vw;}
  .info-map img {width: 2.5vw;}
  .info-city {font-size: 3vw;}
}
/* HOME MOBILE */
@media screen and (max-width: 420px) {
  .info-page {height: 75%;}
  .info-container {width: 100%}
  .info-date {font-size: 12vw;}
  .info-map {margin-top: 10vw;}
  .info-map a {font-size: 6vw;}
  .info-map img {width: 3.5vw;}
  .info-city {font-size: 4vw;}
}
/* LANDSCAPE */
@media screen and (max-height: 420px) {
  .info-page {height: 85%;}
  .info-container {width: 100%}
  .info-date {font-size: 6vw;}
  .info-map a {font-size: 4vw;}
  .info-map img {width: 2vw;}
  .info-city {font-size: 3vw;}
}


/* GAMES PAGE ----------------------------------------------- */

.games-page {
  height: 85%;
  display: flex;
  justify-content: center;
  background-color: rgb(39, 39, 39);
}

.day-one, .day-two {
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF66C4;
  font-size: 11vw;
}

.day-one a, .day-two a {
  color: #FF66C4;
  border-radius: 20px;
  padding: 30px;
  transition: 0.7s;
  text-shadow: -2px 2px 0 black,
              2px 2px 0 black,
              2px -2px 0 black,
              -2px -2px 0 black;
}

.day-one a:hover, .day-two a:hover {
  background-color: #FF66C4;
  color: rgb(2, 196, 235);
  transition: 0.8s;
}

/* GAMES MOBILE */
@media screen and (max-width: 420px) {
  .games-page {
    height: 75%;
    display: block;
  }
  .day-one, .day-two {
    width: 100%;
    height: 38%;
    font-size: 14vw;
  }
}

/* GROUPS PAGE ----------------------------------------------- */

.teams-page {
  height: 85%;
  display: flex;
  background-color: rgb(39, 39, 39);
}

.teams-category {
  background-color: rgb(39, 39, 39);
  height: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.7s;
  font-size: 6vw;
  border-radius: 20px;
  text-shadow: -2px 2px 0 black,
  2px 2px 0 black,
  2px -2px 0 black,
  -2px -2px 0 black;
}

.teams-category:hover {
  cursor: pointer;
  background-color: #FF66C4;
  color: rgb(2, 196, 235);
  transition: 0.7s;
  font-size: 7vw;
  text-shadow: -2px 2px 0 black,
  2px 2px 0 black,
  2px -2px 0 black,
  -2px -2px 0 black;
}

a {
  text-decoration: none;
}

/* GROUPS MOBILE */
@media screen and (max-width: 420px) {
  .teams-page {height: 75%;}
  .teams-category {
    border: 1px grey solid;
    border-radius: 0px;
    text-shadow: none;
  }
}

/* CATEGORY PAGE ----------------------------------------------- */

.category-pane {
  height: 10%;
  background-color: #FF66C4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
}

.eighteen, .twelve, .eight, .six, .four {
  height: 75%;
  background-color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
}
.teams-block {
  height: 100%;
}
.teams-block div {
  background-color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  transition: 0.7s;
  text-shadow: -2px 2px 0 black,
              2px 2px 0 black,
              2px -2px 0 black,
              -2px -2px 0 black;
}
.pool {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: rgb(2, 196, 235);
  font-family: 'Montserrat', sans-serif;
}
.eighteen {
  justify-content: space-between;
}
.eighteen .teams-block div {
  height: 16.66%;
}
.twelve .teams-block div, .eight .teams-block div  {
  height: 20%;
}
.six .teams-block div {
  height: 25%;
}
.four .teams-block div {
  height: 20%;
}
.four .teams-block div {
  width: 100%;
  margin: auto;
}
.eighteen .pool, .twelve .pool, .eight .pool, .six .pool {
  font-size: 4vw;
}
.four .pool {
  font-size: 3vw;
}
.eighteen .teams-block .team, .twelve .teams-block .team, .eight .teams-block .team, .six .teams-block .team {
  font-size: 3.5vw;
}
.four .teams-block .team {
  font-size: 5vw;
}
.eighteen .teams-block .team, .twelve .teams-block .team, .eight .teams-block .team, .six .teams-block .team, .four .teams-block .team {
  border-radius: 20px;
}
.teams-block .team:hover {
  cursor: pointer;
  background-color: #FF66C4;
  color: rgb(2, 196, 235);
  border-radius: 20px;
  transition: 0.7s;
}

/* TEAMS MOBILE */
@media screen and (max-width: 420px) {
  .category-pane {
    height: 4%;
    font-size: 4vw;
  }
  .eighteen, .twelve, .eight, .six, .four {
    height: 75%;
  }
  .eighteen .teams-block .team, .twelve .teams-block .team, .six .teams-block .team {
    font-size: 4vw;
  }
  .eight .teams-block .team, .four .teams-block .team {
    font-size: 4.5vw;
  }
  .four .pool {
    text-shadow: none;
  }
  .eighteen .pool, .twelve .pool, .eight .pool, .six .pool, .four .pool {
    text-shadow: none;
  }
  .eighteen .teams-block .team, .twelve .teams-block .team, .eight .teams-block .team, .six .teams-block .team, .four .teams-block .team {
    border-radius: 0px;
    text-shadow: none;
  }
  .eighteen .teams-block div, .twelve .teams-block div, .eight .teams-block div, .six .teams-block div {
    height: 15%;
  }
  .four {
    width: 100%;
  }
  .four .teams-block div {
    height: 15%;
    width: 100%;
  }
  .teams-block .team:hover {
    background-color: rgb(39, 39, 39);
  }
}

/* OVERLAY */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  padding: 2vw 2vw 2vw 2vw;
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 40vw;
  background-color: rgb(39, 39, 39);
  border-radius: 20px;
  font-size: 4vw;
  color: white;
  transform: translate(-50%,-50%);
  /* -ms-transform: translate(-50%,-50%); */
}

.team-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF66C4;
  top: 3%;
}

.player-list {
  display: block;
  background-color: rgb(80, 80, 80);
  padding:  2vw 2vw 2vw 2vw;
  font-size: 2vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;

}

/* RESULTS */

.results-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  height: 85%;
}

.results-day {
  background-color: rgb(39, 39, 39);
  min-height: 75%
}

.hourly-container {
  width: 70%;
  padding: 20px;
  color: white;
  margin: auto;
}

.results-hour {
  margin: 5px 0px 2px 5px;
  font-size: 3.5vw;
  color: #FF66C4;
}

.hourly-top, .hourly-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.court-result {
  border: rgb(2, 196, 235) 1px solid;
  width: 33%;
  padding: 2vw 1vw 2vw 1vw;
  display: flex;
}

.court-result-cat {
  width: 30%;
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.court-result-teams {
  width: 70%;
  justify-content: left;
  font-size: 2.1vw;
}
.court-result-team {
  width: 80%;
}
.court-result-score {
  width: 20%;
  text-align: right;
}

.game-result {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.underline {
  border-bottom: grey 1px solid;
}

.result-team {
  padding-right: 30px;
}

/* RESULTS TABLET */
@media screen and (max-width: 1024px) {
  .hourly-container {
    width: 90%;
  }
}

/* RESULTS MOBILE */
@media screen and (max-width: 420px) {
  .results-page {
    height: 75%;
    display: block;
  }
  .results-day {
    width: 100%;
    height: 38%;
    font-size: 14vw;
  }
  .results-day {
    min-height: 100%;
    background-color: rgb(39, 39, 39);
  }
  .hourly-container {
    width: 90%;
    background-color: rgb(39, 39, 39);
    border: grey 1px solid;
  }
  .results-hour {
    margin-left: 3vw;
    font-size: 6vw;
    color: #FF66C4;
    font-weight: bold;
  }
  .hourly-top, .hourly-bottom {
    width: 100%;
    display: block;
  }
  .court-result {
    width: 90%;
    margin: auto;
  }
  .court-result-cat {
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .court-result-teams {
    justify-content: left;
    font-size: 4.5vw;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  height: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(39, 39, 39);

}

.container-table100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.limiter table {
  width: 100%;
  background-color: #fff;
}

.limiter th, .limiter td {
  font-weight: unset;
  padding-right: 10px;
  text-align: center;
}

.column100 {
  width: 10vw;
  padding-left: 1vw;
}

.column100.column1 {
  width: 10vw;
  padding-left: 1vw;
}

.row100.head th {
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
}

.row100 td {
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
}

/*==================================================================
[ Ver3 ]*/
.table100.ver3 tbody tr {
  border-bottom: 1px solid #e5e5e5;
}

.table100.ver3 th {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(5px + 0.8vw);
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: rgb(2, 196, 235);
}

.table100.ver3 td {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(5px + 0.6vw);
  color: #808080;
}

.table100.ver3 .row100:hover td {
  background-color: #fcebf5;
}

.table100.ver3 .row100.column100:hover td {
  background-color: #fcebf5;
}

.table100.ver3 .hov-column-ver3 {
  background-color: #fcebf5;
}

.table100.ver3 .hov-column-head-ver3 {
  background-color: rgb(2, 196, 235) !important;
}

.table100.ver3 .row100 td:hover {
  background-color: #FF66C4;
  color: #fff;
}

/* SCHED TABLET */
@media screen and (max-width: 1024px) {
  .limiter {
    height: 85%;
  }

  .table100.ver3 td {
    font-size: 1.3vw;
    height: 6vw;
  }
  
  .table100.ver3 th {
    font-size: 2vw;
  }

  .column100 {
    width: 12vw;
    padding-left: 1vw;
  }
  
  .column100.column1 {
    width: 9vw;
    padding-left: 0vw;
  }
  
  .row100.head th {
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  
  .row100 td {
    padding: 0px 0px 0px 0px;
  }
}

/* SCHED MOBILE */
@media screen and (max-width: 420px) {
  .limiter {
    height: 75%;
  }

  .table100.ver3 td {
    font-size: 1.2vw;
    height: 5vw;
  }
  
  .table100.ver3 th {
    font-size: 2vw;
  }

  .column100 {
    width: 10vw;
    padding-left: 1vw;
  }
  
  .column100.column1 {
    font-size: 1.3vw;
    width: 8vw;
  }
  
  .row100.head th {
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  
  .row100 td {
    padding: 0px 0px 0px 0px;
  }
}

/* LANDSCAPE */
@media screen and (max-height: 500px) {
  .column100 {
    width: 10vw;
    padding-left: 1vw;
  }
  
  .column100.column1 {
    width: 8vw;
    padding-left: 2vw;
  }
  
  .row100.head th {
    font-size: 1.5vw;
    height: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  
  .row100 td {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .table100.ver3 td {
    font-size: 1vw;
    height: 3vw;
  }
}
