html, body, #app {
  height: 100%;
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  .col-1 {width: 8.33%}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* NAV BAR */
.top-nav {
  height: 15%;
  display: flex;
  font-size: 30px;
  font-weight: 1000;
}
.top-nav a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #01579B;
  color: white;
  height: 100%;
}
.top-nav a:hover {
  cursor: pointer;
  background-color: rgb(1, 53, 93);
}

/* HOME PAGE */

.home-page {
  height: 85%;
  font-size: 100px;
  font-weight: 500;
  transition: 2s;
}

.labour, .weekend, .year {
  display: flex;
  justify-content: center;
}

/* TEAMS PAGE */

.teams-page {
  height: 85%;
  display: flex;
}


/* HOME & GAMES */
.home-games, .home-teams, .games-sched, .games-result, .games-playoff {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0.7;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 80px;
  text-align: center;
}

.left-panel, .middle-panel, .right-panel {
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 80px;
  text-align: center;
}

.home-games:hover, .home-teams:hover, .games-sched:hover, .games-result:hover, .games-playoff:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
  font-size: 100px;
}

/* TEAMS */
.teams-open, .teams-40a, .teams-35u,
.teams-u19, .teams-u17, .teams-u15,
.teams-u13, .teams-u11, .teams-9u {
  height: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: 'Montserrat', sans-serif; */
  color: black;
  font-size: 80px;
  border: 1px grey dotted;
  opacity: 0.7;
  /* text-shadow: -2px 2px 0 white,
              2px 2px 0 white,
              2px -2px 0 white,
              -2px -2px 0 white; */
}

.teams-open:hover, .teams-40a:hover, .teams-35u:hover,
.teams-u19:hover, .teams-u17:hover, .teams-u15:hover,
.teams-u13:hover, .teams-u11:hover, .teams-9u:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
  font-size: 100px;
  opacity: 1;
}

/* .left-panel, .middle-panel, .right-panel {
  height: 100%;
  opacity: 0.5;
}

.left-panel:hover, .middle-panel:hover, .right-panel:hover {
  opacity: 1;
} */

a {
  text-decoration: none;
}
.home-games, .home-teams, .games-sched, .games-result, .games-playoff {
  height: 100%;
}

/* Background Images and Colors */
.home-page {
  background-image: url('./images/akl-skyline.jpg');
  background-size: cover;
  opacity: .8;
}

.home-games {
  background-image: url('./images/ball-dunk.jpg');
}

.home-teams {
  background-image: url('./images/ball-wallpaper.jpg');
}

.games-sched {
  background-image: url('./images/ball-hoop.jpg');
}

.games-result {
  background-image: url('./images/ball-locker.jpg');
}

.games-playoff {
  background-image: url('./images/trophy.jpg');
}

/* .left-panel {
  background-image: url('./images/jordan.jpg');
}
.middle-panel {
  background-image: url('./images/lebron.jpg');
}
.right-panel {
  background-image: url('./images/gianis.jpg');
} */
